<div class="container">
  <h3>Jokes Details</h3>
  <div class="row">
  <div class="col-md-2">
  <p>Joke Id : </p>
  </div>
  <div class="col-md-10">
  <p>{{joke?.id}}</p>
  </div>
  </div>
  <div class="row">
  <div class="col-md-2">
  <p>Joke SetUp : </p>
  </div>
  <div class="col-md-10">
  <p>{{joke?.setup}}</p>
  </div>
  </div>
  <div class="row">
  <div class="col-md-2">
  <p>Joke Line : </p>
  </div>
  <div class="col-md-10">
  <p>{{joke?.line}}</p>
  </div>
  </div>
<!-- <div class="row">
<div class="col-md-2">
<p>Joke Category : </p>
</div>
<div class="col-md-10">
<p>{{joke?.category}}</p>
</div>
</div> -->

  <div class="links">
    <a (click)="prev()">Previous</a>
    <a (click)="next()">Next</a>
    </div>
    <div class="blinks">
    <a (click)="back()">Back</a>
    </div>
   
    <p class="blinks">
    <a (click)="overview()">Show Overview</a>
    <a (click)="category()">Show Category</a>
    </p>
    <router-outlet></router-outlet>
    </div>
        